:root{
  --shadow-boxes:0 4px 8px rgba(0, 0, 0, 0.1);
}



*{
  padding: 3px;

}


.main-container{
  min-width: 300px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: auto;
}

.banner{
  display: flex;
  margin-top: 30px;
  justify-content: center;
  background-color: #1976D2;
  color: white;
  border-radius: 10px;
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
  width: 100%;
  box-sizing:border-box;
  z-index: 1;
}

.card{
  position: relative;
  top: 20px;
  padding: 10px;
  
}

.textField{
  position: relative;
  right: 100px;
}

.header{
  position: relative;
  top: 20px;
  left: 15px;
}

.modal-container{
  padding: 10px;
  margin-top: 20px;
}

.tabsCompo{
  display: flex;
  justify-content: center;
  position:sticky;
  min-width: fit-content;
  max-width: 900px;
  top: 0;
}

.form-container{
  display: flex;
  max-width: 900px;
}

.modal-container{
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal{
  display: flex;
  padding:10px;
  gap: 20px;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #1976D2;
  z-index: 1000;
  padding-bottom: 20px;
 position: relative;
 top: 180px;
 border-radius: 15px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5); 
}


.hidden{
  display: none;
}